set -gx SCW_SECRET_TOKEN {{ (bitwardenFields "item" "console.scaleway.com").fish_secret_token.value | quote }}
set -gx SCW_ACCESS_KEY {{ (bitwardenFields "item" "console.scaleway.com").fish_access_key.value | quote }}

set -gx GITHUB_TOKEN {{ (bitwardenFields "item" "github.com").fish_api_token.value | quote }}
set -gx HOMEBREW_GITHUB_API_TOKEN $GITHUB_TOKEN
set -gx HOMEBREW_BINTRAY_USER "crocmagnon"
set -gx HOMEBREW_BINTRAY_KEY {{ (bitwardenFields "item" "Bintray").fish_key.value | quote }}

set -gx PYPI_USERNAME __token__
set -gx PYPI_TOKEN {{ (bitwardenFields "item" "PyPi").token.value | quote }}

set -gx GITEA_TOKEN {{ (bitwardenFields "item" "git.augendre.info").fish_config_token.value | quote }}

set -gx AMO_JWT_ISSUER {{ (bitwardenFields "item" "addons.mozilla.org").jwt_issuer.value | quote }}
set -gx AMO_JWT_SECRET {{ (bitwardenFields "item" "addons.mozilla.org").jwt_secret.value | quote }}

