fish_add_path /opt/homebrew/bin $HOME/.local/bin $HOME/.cargo/bin $HOME/.krew/bin
{{- if eq .chezmoi.os "linux" }}
fish_add_path /home/linuxbrew/.linuxbrew/bin $HOME/.local/share/JetBrains/Toolbox/scripts
eval "$(brew shellenv)"
{{- end }}

set -gx RUSTC_WRAPPER sccache

set -gx VIRTUAL_ENV_DISABLE_PROMPT 1

set -gx HOMEBREW_GITHUB_API_TOKEN {{ (bitwardenFields "item" "github.com").fish_api_token.value | quote }}
set -gx HOMEBREW_BINTRAY_USER "crocmagnon"
set -gx HOMEBREW_BINTRAY_KEY {{ (bitwardenFields "item" "Bintray").fish_key.value | quote }}

set -gx GOPATH $HOME/Projects/golang

set -gx LANG en_US.UTF-8

set -gx BAT_THEME "Solarized (dark)"

set -gx SCW_SECRET_TOKEN {{ (bitwardenFields "item" "console.scaleway.com").fish_secret_token.value | quote }}
set -gx SCW_ACCESS_KEY {{ (bitwardenFields "item" "console.scaleway.com").fish_access_key.value | quote }}

set -gx GITLABBER_FOLDER_NAMING path
set -gx GITLABBER_CLONE_METHOD ssh
set -gx GITLABBER_GIT_CONCURRENCY 10

set -gx PYPI_USERNAME __token__
set -gx PYPI_TOKEN {{ (bitwardenFields "item" "PyPi").token.value | quote }}

set -gx POETRY_PYPI_TOKEN_PYPI $PYPI_TOKEN
set -gx POETRY_HTTP_BASIC_PYPI_USERNAME $PYPI_USERNAME
set -gx POETRY_HTTP_BASIC_PYPI_PASSWORD $PYPI_TOKEN

set -gx ANSIBLE_NOCOWS 1

set -gx GITEA_TOKEN {{ (bitwardenFields "item" "git.augendre.info").fish_config_token.value | quote }}

{{- if eq .chezmoi.os "darwin" }}
set -g fish_greeting "Yo ✌🏻Bien ?"
{{- else }}
set -g fish_greeting "Yo ✌  Bien ?"
{{- end }}

# Install python with pyenv with tcl/tk support
# https://stackoverflow.com/a/60469203/2758732
set -gx PYTHON_CONFIGURE_OPTS "--with-tcltk-includes='-I/usr/local/opt/tcl-tk/include' --with-tcltk-libs='-L/usr/local/opt/tcl-tk/lib -ltcl8.6 -ltk8.6'"
set -gx PIPX_DEFAULT_PYTHON "/Users/gaugendre/.local/share/rtx/installs/python/3.11.1/bin/python3"
set -gx PIP_REQUIRE_VIRTUALENV true

test -e {$HOME}/.iterm2_shell_integration.fish ; and source {$HOME}/.iterm2_shell_integration.fish

set -gx LIBRARY_PATH $LIBRARY_PATH /usr/local/opt/openssl/lib/
set -gx EDITOR vim
set -gx DJANGOPROJECT_DATA_DIR $HOME/.djangoproject

direnv hook fish | source

