[[ -s "$HOME/.profile" ]] && source "$HOME/.profile" # Load the default .profile
[[ -s "$HOME/.bashrc" ]] && source "$HOME/.bashrc" # Load the default .bashrc

export PATH="$PATH:$HOME/bin:$HOME/.local/bin:$HOME/.local/go/bin"
{{- if eq .chezmoi.os "linux" }}
export PATH="$PATH:$HOME/.local/share/nvim-linux64/bin"
{{- end }}

. "$HOME/.cargo/env"
