[user]
    name = Gabriel Augendre
    email = gabriel@augendre.info
[color]
    ui = true
    status = auto
    branch = auto
    diff = auto
    interactive = auto
[push]
    default = simple
[help]
    autocorrect = immediate
[alias]
    ci = commit
    cp = cherry-pick
    co = checkout
    cob = switch -c
    br = branch
    pul = pull
    pus = push
    fe = fetch
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    gl = log --graph --pretty=format:'%C(auto)%h %C(bold blue)<%an>%Creset%C(auto) (%G?) %d %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    wtf = log --pretty=tformat:\"%C(auto,yellow)%h%C(auto)%d%C(auto,reset) by %C(auto,blue)%cn%C(auto,reset), %C(auto,cyan)%ar%C(auto,reset)%n %s%n\" --stat
    s = status -sb
    ign = ! "curl -L -s https://www.gitignore.io/api/$@"
    syn = ! "git pull --rebase && git push"
    gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
    praise = blame
    pushbranch = ! "git push -o merge_request.create -u origin $(git rev-parse --abbrev-ref HEAD)"
    pushu = pushbranch
    cobf = ! "f() { git branch -D $1 && git switch -c $1; }; f"
    sw = switch
    swc = switch
    balance = blame
    tagam = ! "f() { git tag -a $1 -m \"$1\"; }; f"
    pushtag = push --follow-tags
    pushnoci = push -o ci.skip
[core]
    editor = vim
    attributesfile = {{ .chezmoi.homeDir }}/.gitattributes
    autocrlf = input
[sendemail]
    smtpserver = smtp.migadu.com
    smtpuser = {{ (bitwarden "item" "Migadu email").login.username }}
    smtpencryption = ssl
    smtpserverport = 465
    smtppass = {{ (bitwarden "item" "Migadu email").login.password | quote }}
    confirm = auto
[diff]
    colorMoved = default
[diff "color"]
    textconv=pygmentize
[diff "pandoc2md"]
    textconv=pandoc --to=mardown
[diff "pdfconv"]
    textconv=pdftohtml -stdout
[diff "exif"]
    textconv=exiftool
[diff "ziplist"]
    textconv=unzip -l
[merge]
    conflictstyle = diff3
[pull]
    rebase = false
[init]
    defaultBranch = master
[advice]
    detachedHead = false
[includeIf "gitdir:~/Projects/itsf/**"]
    path = {{ .chezmoi.homeDir }}/Projects/itsf/.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[checkout]
	defaultRemote = origin

