[[ -s "$HOME/.cargo/env" ]] && . "$HOME/.cargo/env"

{{- if eq .chezmoi.os "linux" }}
# Set PATH, MANPATH, etc., for Homebrew.
[[ -s "/home/linuxbrew/.linuxbrew/bin/brew" ]] && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

