Include work.config

# Home
Host ubuntu
    Hostname 192.168.0.6
    User gaugendre
    ForwardAgent yes
    ControlMaster auto
    ControlPath ~/.ssh/control-%C
    ControlPersist 4h
    RequestTTY yes
    RemoteCommand tmux -CC new -A -s tmssh

Host ubuntu-no-tmux
    Hostname 192.168.0.6
    User gaugendre
    ForwardAgent yes
    ControlMaster auto
    ControlPath ~/.ssh/control-%C
    ControlPersist 4h
    RequestTTY yes

Host hass
    Hostname 192.168.0.9
    User hassio
    Port 32690

Host robospierre
    Hostname 192.168.0.97
    User root

Host hyperhdr
    Hostname hyperhdr.local
    User pi

Host *
    AddKeysToAgent yes
    {{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
    {{- end }}
    SendEnv LANG
    Port 22
    XAuthLocation /opt/X11/bin/xauth

