Include work.config

# Home
Host ubuntu
    hostname 192.168.0.6
    user gaugendre
    ForwardAgent yes
    port 38303
    ControlMaster auto
    ControlPath ~/.ssh/control-%C
    ControlPersist 4h

Host hass
    hostname 192.168.0.9
    user hassio
    port 32690

Host robospierre
    hostname 192.168.0.97
    user root

Host raspiwifi display hass-display
    hostname 192.168.0.7
    user pi
    port 8121

#Host raspi
#    hostname 192.168.0.8
#    user pi
#    port 8121

Host octopi
    hostname 192.168.0.10
    user pi

Host hyperhdr
    hostname hyperhdr.local
    user pi

Host *
    AddKeysToAgent yes
    {{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
    {{- end }}
    SendEnv LANG
    port 22
    XAuthLocation /opt/X11/bin/xauth

