[sendemail]
    smtpserver = smtp.migadu.com
    smtpuser = {{ (bitwarden "item" "Migadu email").login.username }}
    smtpencryption = ssl
    smtpserverport = 465
    smtppass = {{ (bitwarden "item" "Migadu email").login.password | quote }}
    confirm = auto

