# change prefix wihout unbinding the default C-b
#set-option -g prefix C-a
#bind-key C-a send-prefix

# Split panes using | and -
bind | split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

bind c new-window -c "#{pane_current_path}"

# fast reload
bind r source-file ~/.config/tmux/tmux.conf

# switch panes using alt+arrow
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

set -g mouse on

# nvim fixes
set -sg escape-time 300
set -g focus-events on

# don't rename windows automatically
set-option -g allow-rename off

# vim mode for copying
setw -g mode-keys vi
# prefix + v to enter copy mode
bind v copy-mode
# v to start a visual selection
bind -T copy-mode-vi v send -X begin-selection
{{- if eq .chezmoi.os "darwin" }}
# y to yank
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "pbcopy"
# mouse support
bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "pbcopy"
{{- else }}
# y to yank
bind -T copy-mode-vi y send -X copy-pipe-and-cancel
# mouse support
bind -T copy-mode-vi MouseDragEnd1Pane send -X copy-pipe-and-cancel
{{- end }}
# prefix + P to paste
bind P paste-buffer

# color support
set -g default-terminal "tmux-256color"
set -ga terminal-overrides ",tmux-256color:Tc"

bind u capture-pane \;\
  save-buffer /tmp/tmux-buffer \;\
  split-window -l 10 "urlview /tmp/tmux-buffer"

# DESIGN

# clock mode
setw -g clock-mode-colour white
# copy mode
setw -g mode-style 'fg=white bg=red bold'

# pane borders
set -g pane-border-style 'fg=red'
set -g pane-active-border-style 'fg=yellow'

# statusbar
set -g status-position bottom
set -g status-justify left
set -g status-style 'fg=blue'
set -g status-left ' '
set -g status-left-style 'fg=blue dim'
set -g status-right '%Y-%m-%d %H:%M'
set -g status-right-length 50
set -g status-left-length 10

setw -g window-status-current-style 'fg=default bg=blue bold'
setw -g window-status-current-format ' #I #W #F '

setw -g window-status-style 'fg=blue dim'
setw -g window-status-format ' #I #W #F '

setw -g window-status-bell-style 'fg=black bg=yellow bold'

# messages
set -g message-style 'fg=black bg=white bold'

set -g window-style 'dim'
set -g window-active-style 'dim'
