// Settings in here override those in "Default/Preferences.sublime-settings",
// and are overridden in turn by syntax-specific settings.
{
    "font_face": "MonoLisa",
{{- if eq .chezmoi.os "darwin" }}
    "font_size": 17,
{{- else }}
    "font_size": 14,
{{- end }}
    "scroll_past_end": 0.7,
    "rulers": [88],
    "ruler_style": "stippled",
    "ignored_packages":
    [
        "Vintage",
    ],
}
